<template>
	<div class="pt-5 mt-5">
		<div class="text-center bg-white border p-5 box-complete m-auto">
			<BIconCheckCircle class="success-complete text-success" />
			<h1>Complete</h1>
			<h4 class="mt-3">Change {{change|numberPrice}} baht</h4>
			<b-input-group size="lg" class="my-5">
				<b-form-input placeholder="Receipt To Email Or SMS"></b-form-input>
				<b-input-group-append>
					<b-button>
						Send
						<BIconPlayFill />
					</b-button>
				</b-input-group-append>
			</b-input-group>
			<b-btn block class="text-white rounded-lg text-center" v-b-modal.modal-scrollable>Print Receipt?</b-btn>
			<b-btn size="lg" @click="goToHome()" block class="text-white rounded-lg py-3">
				<h4 class="m-0 text-center">Go Home</h4>
			</b-btn>
		</div>

		<b-modal id="modal-scrollable" scrollable title="Print Receipt?" hide-footer>
			<div class="my-4" id="print-Receipt">
				<div class="text-center d-flex flex-column mb-3">
					<strong class="m-0">Shiba Book Shop</strong>
					<small class="m-0">invoice Id:{{invoice}}}</small>
				</div>
				<div
					class="d-flex justify-content-between align-items-center"
					v-for="item in getDataCart"
					:key="item.id"
				>
					<div>
						<small class="m-0">{{item.qty}} ea</small>
						<small class="m-0">{{item.title}}</small>
					</div>
					<small class="m-0">{{item.price * item.qty | numberPrice}}</small>
				</div>
				<div class="d-flex justify-content-between align-items-center mt-2">
					<div>
						<small class="m-0">1 ea</small>
						<small class="m-0">Discount</small>
					</div>
					<small class="m-0">{{totalPrice.discount | numberPrice}}</small>
				</div>
				<div class="d-flex justify-content-between align-items-center">
					<small class="m-0">Net Price</small>
					<small class="m-0">{{totalPrice.net | numberPrice}}</small>
				</div>
				<div class="d-flex justify-content-between align-items-center">
					<small class="m-0">Cash</small>
					<small class="m-0">{{cash | numberPrice}}</small>
				</div>
				<div class="d-flex justify-content-between align-items-center">
					<small class="m-0">Change</small>
					<small class="m-0">{{change | numberPrice}}</small>
				</div>
			</div>
			<b-btn
				@click="print()"
				block
				class="text-white rounded-lg text-center mt-5"
				v-b-modal.modal-scrollable
			>
				<BIconPrinterFill class="mr-2" />Print
			</b-btn>
		</b-modal>
	</div>
</template>

<script>
import {
	BIconCheckCircle,
	BIconPlayFill,
	BIconPrinterFill,
} from 'bootstrap-vue'
export default {
	components: {
		BIconCheckCircle,
		BIconPlayFill,
		BIconPrinterFill,
	},
	validate({ params }) {
		return /^\d+$/.test(params.invoice) && params.price
	},
	data() {
		return {
			change: 0,
			totalPrice: [],
			invoice: 0,
			cash: 0,
		}
	},
	mounted() {
		this.change = parseInt(this.$route.params.price)
		this.invoice = this.$route.params.invoice
		this.cash = parseInt(this.$route.params.cash)
	},
	methods: {
		goToHome() {
			this.$store.dispatch('removeAllCart')
			this.$router.push(`/`)
		},
		print() {
			this.$htmlToPaper('print-Receipt')
		},
	},
	computed: {
		getDataCart() {
			let cartItem = this.$store.getters.getCartData
			this.totalPrice = this.$sumTotalPrice(cartItem)
			return this.$store.getters.getCartData
		},
	},
}
</script>

<style scoped>
.success-complete {
	font-size: 5rem;
}
.box-complete {
	width: 500px;
}
.btn-secondary {
	background-color: #f04770;
	border: #f04770;
}
.btn-secondary:hover {
	background-color: #e93864;
	border: #e93864;
}
.btn-secondary:active {
	background-color: #ec2657 !important;
	border: #ec2657 !important;
}
</style>