<template>
	<div class="container mt-5 cart-item-height d-flex align-items-start flex-column">
		<div class="w-100 mb-auto pt-5">
			<h1>Receive Cash</h1>
			<b-form-input
				size="lg"
				ref="inputCash"
				type="number"
				@keyup.enter="goToPayComplete()"
				placeholder="Enter Cash"
				v-model="cashPrice"
				:value="cashPrice"
			></b-form-input>
			<div class="mt-5 row">
				<b-col cols="12" sm="4" md="4" xl="4">
					<b-button size="lg" block variant="secondary" @click="setCashPrice(10)">{{10|numberPrice}}</b-button>
				</b-col>
				<b-col cols="12" sm="4" md="4" xl="4">
					<b-button size="lg" block variant="secondary" @click="setCashPrice(20)">{{20|numberPrice}}</b-button>
				</b-col>
				<b-col cols="12" sm="4" md="4" xl="4">
					<b-button size="lg" block variant="secondary" @click="setCashPrice(50)">{{50|numberPrice}}</b-button>
				</b-col>
			</div>
			<div class="my-2 row">
				<b-col cols="12" sm="4" md="4" xl="4">
					<b-button size="lg" block variant="secondary" @click="setCashPrice(100)">{{100|numberPrice}}</b-button>
				</b-col>
				<b-col cols="12" sm="4" md="4" xl="4">
					<b-button size="lg" block variant="secondary" @click="setCashPrice(500)">{{500|numberPrice}}</b-button>
				</b-col>
				<b-col cols="12" sm="4" md="4" xl="4">
					<b-button size="lg" block variant="secondary" @click="setCashPrice(1000)">{{1000|numberPrice}}</b-button>
				</b-col>
			</div>
		</div>
		<b-btn size="lg" @click="goToPayComplete()" block class="text-white rounded-lg py-3" show>
			<h4 class="m-0 text-center">Complete</h4>
		</b-btn>

		<b-modal v-model="showError" id="modal-center" centered title="Receive Cash">
			<p
				class="my-4"
			>Get {{cashPrice|numberPrice}} baht, still missing {{totalPriceCart.net-cashPrice|numberPrice}} baht</p>
		</b-modal>
	</div>
</template>

<script>
export default {
	methods: {
		goToPayComplete() {
			this.totalPriceCart = this.$sumTotalPrice(
				this.$store.getters.getCartData
			)
			if (parseInt(this.cashPrice) > this.totalPriceCart.net) {
				let date = new Date()
				this.$router.push(`/complete/${date.getTime()}/${this.cashPrice-this.totalPriceCart.net}/${this.cashPrice}/`)
			} else {
				this.showError = true
			}
		},
		setCashPrice(value) {
			this.cashPrice = value
			this.$refs.inputCash.focus()
		},
	},
	mounted() {
		this.$refs.inputCash.focus()
	},
	data() {
		return {
			showError: false,
			cashPrice: '',
			totalPriceCart: [],
		}
	},
}
</script>

<style scoped>
.cart-item-height {
	min-height: calc(100vh - 155px);
}
.btn-secondary {
	background-color: #f04770;
	border: #f04770;
}
.btn-secondary:hover {
	background-color: #e93864;
	border: #e93864;
}
.btn-secondary:active {
	background-color: #ec2657 !important;
	border: #ec2657 !important;
}
</style>