<template>
	<div class="container bg-white mt-3 border rounded py-4">
		<div class="w-50 m-auto text-center p-5" v-show="showLoad">
			<b-spinner class="m-5" label="Busy"></b-spinner>
		</div>

		<b-alert v-model="showsuccess" variant="success" dismissible>Add Book Success</b-alert>

		<b-form @submit="onSubmit" @reset="onReset" class="w-50 m-auto" v-show="showform">
			<h3 class="mb-5">Add New Book</h3>
			<div role="group" class="mb-5">
				<label>Cover</label>
				<b-form-file
					v-model="form.cover"
					:state="Boolean(form.cover)"
					placeholder="Choose a file or drop it here..."
					drop-placeholder="Drop file here..."
					required
				></b-form-file>
			</div>

			<div role="group" class="mb-3">
				<label for="input-live">Title</label>
				<b-form-input
					id="input-live"
					v-model="form.title"
					:state="titleState"
					aria-describedby="input-live-help input-live-feedback"
					placeholder="Enter book title"
					trim
					required
				></b-form-input>
				<b-form-invalid-feedback id="input-live-feedback">Enter at least 5 letters</b-form-invalid-feedback>
			</div>

			<div role="group" class="mb-3">
				<label for="input-price">Price</label>
				<b-form-input
					id="input-price"
					type="number"
					v-model="form.price"
					:state="priceState"
					aria-describedby="input-price-help input-price-feedback"
					placeholder="Enter Price"
					trim
					required
				></b-form-input>
				<b-form-invalid-feedback id="input-price-feedback">Enter at price 10 100 1000</b-form-invalid-feedback>
			</div>

			<div role="group" class="mb-5">
				<label for="input-barcode">barcode</label>
				<b-form-input
					id="input-barcode"
					type="number"
					v-model="form.id"
					:state="barcodeState"
					aria-describedby="input-barcode-help input-barcode-feedback"
					placeholder="Enter Barcode ID"
					trim
					required
				></b-form-input>
				<b-form-invalid-feedback id="input-barcode-feedback">Enter Barcode ex: 9781408855706</b-form-invalid-feedback>
			</div>

			<b-button type="submit" variant="primary">Add Book</b-button>
			<b-button type="reset" variant="danger">Reset</b-button>
		</b-form>
	</div>
</template>


<script>
import axios from 'axios'
export default {
	data() {
		return {
			form: {
				cover: null,
				title: '',
				price: '',
				id: '',
			},
			showform: true,
			showLoad: false,
			showsuccess: false,
		}
	},
	computed: {
		titleState() {
			return this.form.title.length > 5 ? true : false
		},
		priceState() {
			return this.form.price.length > 1 ? true : false
		},
		barcodeState() {
			return this.form.id.length > 5 ? true : false
		},
	},
	methods: {
		onSubmit(evt) {
			evt.preventDefault()
			this.showLoad = true
			this.showform = false
			axios({
				method: 'post',
				url: `https://firebasestorage.googleapis.com/v0/b/benzcii3-60b91.appspot.com/o?uploadType=media&name=${this.form.cover.name}`,
				headers: {
					'Content-Type': this.form.cover.type,
				},
				data: this.form.cover,
			}).then((response) => {
				const restdata = response.data
				this.$store
					.dispatch('addNewBook', {
						...this.form,
						cover: `https://firebasestorage.googleapis.com/v0/b/${restdata.bucket}/o/${restdata.name}?alt=media&token=${restdata.downloadTokens}`,
					})
					.then(() => {
						this.onReset(evt)
						this.$nextTick(() => {
							this.showLoad = false
							this.showform = true
							this.showsuccess = true
						})
					})
			})
		},
		onReset(evt) {
			evt.preventDefault()
			this.form.title = ''
			this.form.price = ''
			this.form.cover = null
			this.form.id = ''
		},
	},
}
</script>