<template>
	<div class="container bg-white mt-3 border rounded">
		<div class="overflow-auto">
			<b-overlay :show="loading" rounded>
				<b-table
					id="table-data-book"
					:items="items"
					:per-page="perPage"
					:current-page="currentPage"
					hover
				>
					<template v-slot:cell(cover)="data">
						<img class="img-w rounded" :src="data.value" />
					</template>

					<template v-slot:cell(price)="data">{{data.value | numberPrice}}</template>
					<template v-slot:cell(action)="data">
						<nuxt-link class="btn btn-info" :to="`/book/edit/${data.value}/`">Edit</nuxt-link>
						<b-button variant="danger" @click="remove(data.value,data.item.cover)">Remove</b-button>
					</template>
				</b-table>

				<b-pagination
					v-model="currentPage"
					:total-rows="getDataBook.length"
					:per-page="perPage"
					aria-controls="table-data-book"
				></b-pagination>
			</b-overlay>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			perPage: 8,
			currentPage: 1,
			items: [],
			loading: false,
		}
	},
	computed: {
		getDataBook() {
			let dataBook = this.$store.getters.getAllBooks
			this.items = dataBook.map((el, i) => {
				return {
					barcode_id: el.id,
					cover: el.cover,
					title: el.title,
					price: el.price,
					action: el._id,
				}
			})
			return dataBook
		},
	},
	methods: {
		remove(_id, cover) {
			this.loading = true
			this.$store
				.dispatch('removeBook', { _id: _id, cover: cover })
				.then(() => {
					this.loading = false
				})
		},
	},
}
</script>

<style scoped>
.img-w {
	width: 64px;
}
</style>