<template>
	<div>
		<div class="d-flex justify-content-between">
			<div class="my-3">
				<b-button variant="outline-primary">All Book</b-button>
				<b-button variant="outline-secondary">Category 1</b-button>
				<b-button variant="outline-secondary">Category 2</b-button>
				<b-button variant="outline-secondary">Category 3</b-button>
			</div>
			<div class="my-3 w-25">
				<b-input-group>
					<b-input-group-prepend>
						<b-button variant="outline-primary">
							<BIconDistributeHorizontal />
						</b-button>
					</b-input-group-prepend>
					<b-form-input
						@keyup.enter="BarCodeAddtoCart()"
						v-model="barcode"
						ref="barcode"
						class="border-info"
						type="text"
						placeholder="Barcodeex: 9781408855683"
					></b-form-input>
				</b-input-group>
			</div>
		</div>
		<b-row>
			<b-col cols="6" sm="4" md="4" xl="3" v-for="item in LoadBookAll" :key="item.id">
				<div
					class="rounded-lg mb-3 img-thumbnail p-0 blur-imagebg overflow-hidden shadow"
					v-bind:style="{'background-image': `url(https://ik.imagekit.io/cii3/google/tr:bl-40/${item.cover.replace('https://firebasestorage.googleapis.com/v0/b/','')})`}"
				>
					<div
						class="d-none d-lg-block book-hover position-relative p-2 m-2"
						v-bind:style="{'background-image': `url(${item.cover})`}"
					>
						<div
							class="book-show-text position-absolute rounded-lg shadow-lg d-flex flex-column justify-content-center align-items-center text-white"
						>
							<h3>{{item.price | numberPrice}}</h3>
							<h2 title="Add to Cart" class="cursor-addtocart" @click="addTocart(item,1)">
								<BIconCartPlus />
							</h2>
						</div>
					</div>
					<div
						class="d-block d-lg-none book-hover position-relative p-2 m-2"
						v-bind:style="{'background-image': `url(${item.cover})`}"
					></div>
					<div class="bg-white border-top p-2">
						<p
							class="d-flex justify-content-center align-items-center text-center m-0 text-book-height"
						>{{item.title}}</p>
						<div class="d-block d-lg-none mx-3 mt-3">
							<div class="d-flex justify-content-between">
								<p class="m-0">{{item.price | numberPrice}}</p>
								<p title="Add to Cart" class="m-0 cursor-addtocart-mobile" @click="addTocart(item,1)">
									<BIconCartPlus />
								</p>
							</div>
						</div>
					</div>
				</div>
			</b-col>
		</b-row>
	</div>
</template>

<script>
import { BIconCartPlus, BIconDistributeHorizontal } from 'bootstrap-vue'

export default {
	components: {
		BIconCartPlus,
		BIconDistributeHorizontal,
	},
	data() {
		return {
			barcode: '',
		}
	},
	// รับ props filter
	props: ['filter'],
	computed: {
		dataBook() {
			return this.$store.getters.getAllBooks
		},
		LoadBookAll() {
			let dataBook = this.dataBook
			if (this.filter) {
				// ค้นหาหนังสือ
				return dataBook.filter((el) => {
					if (parseInt(this.filter)) {
						// ถ้าส่งตัวเลขเข้ามาจะค้นหาจาก id แทน
						return (
							el.id.toLowerCase().indexOf(this.filter.toLowerCase()) !==
							-1
						)
					} else {
						// ถ้าส่งข้อความเข้ามาจะค้นหาจาก title
						return (
							el.title
								.toLowerCase()
								.indexOf(this.filter.toLowerCase()) !== -1
						)
					}
				})
			} else {
				// หากไม่ได้ส่ง props filter เข้ามาจะแสดงหนังสือทั้งหมด
				return dataBook
			}
		},
	},
	methods: {
		BarCodeAddtoCart() {
			let dataBook = this.dataBook
			// เพิ่มสินค้าลงตะกร้า และเก็บลง vux store
			let data = dataBook.filter((el) => {
				// ถ้าส่งตัวเลขเข้ามาจะค้นหาจาก id แทน
				return (
					el.id.toLowerCase().indexOf(this.barcode.toLowerCase()) !== -1
				)
			})
			this.$store.dispatch('addToCart', { ...data[0], qty: 1 })
			this.barcode = ''
			this.$refs.barcode.focus()
		},
		addTocart(data, qty) {
			// เพิ่มสินค้าลงตะกร้า และเก็บลง vux store
			this.$store.dispatch('addToCart', { ...data, qty: qty })
		},
	},
	mounted() {
		this.$refs.barcode.focus()
	},
}
</script>

<style scoped>
/* css ใช้งานได้เฉพาะใน scoped ของไฟล์นี้แท่านั้น หากลบ scoped ออกจะสามารถใช้งานได้ทุกไฟล์ */
.text-book-height {
	height: 48px;
}
.blur-imagebg {
	background-size: cover;
	background-repeat: no-repeat;
}
.book-hover {
	background-position: center top;
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 230px;
}
.border-info {
	border-color: #f04770 !important;
}
.book-show-text {
	width: calc(100% - 1rem);
	height: calc(100% - 1rem);
	background-color: #f04770c2;
	opacity: 0;
	transition: 0.2s;
}
.book-hover:hover .book-show-text {
	opacity: 1;
}
.cursor-addtocart-mobile {
	transition: 0.2s;
	cursor: pointer;
}
.cursor-addtocart-mobile:hover {
	color: #f04770;
}
.cursor-addtocart {
	transition: 0.2s;
	cursor: pointer;
}
.cursor-addtocart:hover {
	font-size: 3rem;
}
</style>