<template>
	<div class="min-height">
		<b-navbar
			class="d-flex justify-content-between align-items-center border-bottom"
			toggleable="lg"
			type="light"
			variant="white"
		>
			<!-- ลบสินค้าทั้งหมด -->
			<b-navbar-brand class="cursor-del-all-cart" @click="removeAllCartItem">
				<BIconTrash />
			</b-navbar-brand>
			<!-- จบ ลบสินค้าทั้งหมด -->

			<!-- จำนวนสินค้าที่มี -->
			<b-navbar-brand>
				Cart
				<b-badge class="rounded-circle" variant="info">{{(getCart.length) ? sumQty(getCart):0}}</b-badge>
			</b-navbar-brand>
			<!-- จบ จำนวนสินค้าที่มี -->
		</b-navbar>
		<!-- หากไม่มีสินค้า -->
		<div class="empty-cart-height" v-show="!getCart.length">
			<div
				class="empty-cart-height d-flex flex-column justify-content-center align-items-center text-white"
			>
				<img class="img-fluid" src="~assets/empty-cart.jpg" />
			</div>
		</div>
		<!-- จบ หากไม่มีสินค้า -->
		<div v-show="getCart.length" class="p-3">
			<!-- ชื่อลูกค้า ในที่นี้ใช้เป็น Thanachit Sitthikan -->
			<b-alert show>
				<BIconPersonCircle />Thanachit Sitthikan
			</b-alert>
			<!-- จบ ชื่อลูกค้า -->
			<div class="cart-item-height d-flex align-items-start flex-column">
				<!-- สินค้าในตะกร้า -->
				<b-list-group class="w-100 rounded-lg mb-auto">
					<!-- วน Loop สินค้าในตะกร้า -->
					<b-list-group-item
						v-for="item in getCart"
						:key="item.id"
						:class="`${classMobile} justify-content-between align-items-center py-3`"
					>
						<div class="mr-3">{{item.title}}</div>
						<div class="d-flex justify-content-start align-items-center mr-3">
							<!-- เพิ่มลดจำนวนที่จะชื้อ -->
							<b-form-spinbutton
								class="mr-3"
								min="1"
								@change="changeQty(item,$event)"
								max="100"
								:value="item.qty"
							></b-form-spinbutton>
							<!-- จบ เพิ่มลดจำนวนที่จะชื้อ -->
							<div>{{item.qty*item.price | numberPrice}}</div>
						</div>
						<!-- ลบสินค้าชิ้นเดียว changeQty 0 คือส่งไปบอก ฟังชั่นว่าให้ลบออกไป -->
						<a href="javascitp:void(0)" title="Remove Item" @click="changeQty(item,0)">
							<BIconXCircleFill class="text-danger" />
						</a>
						<!-- จบ ลบสินค้าชิ้นเดียว -->
					</b-list-group-item>
					<!-- จบ วน Loop สินค้าในตะกร้า -->
				</b-list-group>
				<!-- จบ สินค้าในตะกร้า -->
				<div class="w-100">
					<!-- ส่วนลด -->
					<div class="d-flex justify-content-between align-items-center py-3 px-2 border-top">
						<strong>Discount</strong>
						<div>{{totalPrice.discount | numberPrice}}</div>
					</div>
					<!-- จบ ส่วนลด -->

					<!-- รวมคารวม -->
					<div class="d-flex justify-content-between align-items-center py-3 px-2 border-top">
						<strong>
							Sub Total
							<span class="text-black-50">({{(getCart.length) ? sumQty(getCart):0}} items)</span>
						</strong>
						<div>{{totalPrice.net | numberPrice}}</div>
					</div>
					<!-- จบ รวมคารวม -->

					<!-- ค่าใช้จ่ายทั้งหมด และไปต่อหน้าชำระเงิน -->
					<b-btn size="lg" block class="text-white rounded-lg" show @click="goToPayPage()">
						<div class="d-flex justify-content-between align-items-center py-2">
							<h4 class="m-0">
								Charge
								<small>(Next Step)</small>
							</h4>
							<h4 class="m-0">{{totalPrice.net | numberPrice}}</h4>
						</div>
					</b-btn>
					<!-- จบ ค่าใช้จ่ายทั้งหมด และไปต่อหน้าชำระเงิน -->
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { BIconTrash, BIconPersonCircle, BIconXCircleFill } from 'bootstrap-vue'
export default {
	components: {
		BIconTrash,
		BIconPersonCircle,
		BIconXCircleFill,
	},
	data() {
		return {
			totalPrice: {
				net: 0,
				discount: 0,
			},
		}
	},
	props:['classMobile'],
	methods: {
		goToPayPage() {
			this.$router.push(`/pay`)
		},
		changeQty(data, qty) {
			this.$store.dispatch('updateCart', { ...data, qty: qty })
		},
		sumQty(array) {
			// หากจำนวน qty รวมทั้งฃหมดในตะกร้า
			return array.reduce(function (sum, obj) {
				return sum + obj.qty
			}, 0)
		},
		removeAllCartItem() {
			// ลบสินค้าออกจากตะกร้าทั้งหมด แล้ว commit ลง vuex store
			this.$store.dispatch('removeAllCart')
		},
	},
	computed: {
		getCart() {
			// โหลดข้อมูลสินค้าที่เพิ่มลงในตะกร้าจาก vuex store
			let cartItem = this.$store.getters.getCartData
			this.totalPrice = this.$sumTotalPrice(cartItem)
			return cartItem
		},
	},
	watch: {
		getCart() {
			// หากมีการเพิ่มสินค้าเข้าในตะกร้า จะทำการคำนวนราคารวมใหม่
			this.totalPrice = this.$sumTotalPrice(this.getCart)
		},
	},
}
</script>

<style scoped>
/* css ใช้งานได้เฉพาะใน scoped ของไฟล์นี้แท่านั้น หากลบ scoped ออกจะสามารถใช้งานได้ทุกไฟล์ */
.empty-cart-height {
	min-height: calc(100vh - 57px);
}
.cart-item-height {
	min-height: calc(100vh - 155px);
}
.badge-info,
.btn-secondary {
	background-color: #f04770;
	border: #f04770;
}
.btn-secondary:hover {
	background-color: #e93864;
	border: #e93864;
}
.btn-secondary:active {
	background-color: #ec2657 !important;
	border: #ec2657 !important;
}
.cursor-del-all-cart {
	cursor: pointer;
	transition: 0.2s;
}
.cursor-del-all-cart:hover {
	color: #f04770;
}
</style>