<template>
	<div class="min-height">
		<b-navbar
			class="d-flex justify-content-between align-items-center border-bottom"
			toggleable="lg"
			type="light"
			variant="white"
		>
			<!-- จำนวนสินค้าที่มี -->
			<b-navbar-brand>
				Cart
				<b-badge class="rounded-circle" variant="info">{{(getCart.length) ? sumQty(getCart):0}}</b-badge>
			</b-navbar-brand>
			<!-- จบ จำนวนสินค้าที่มี -->
		</b-navbar>

		<div v-show="getCart.length" class="p-3">
			<!-- ชื่อลูกค้า ในที่นี้ใช้เป็น Thanachit Sitthikan -->
			<b-alert show>
				<BIconPersonCircle />Thanachit Sitthikan
			</b-alert>
			<!-- จบ ชื่อลูกค้า -->
			<div class="cart-item-height d-flex align-items-start flex-column">
				<!-- สินค้าในตะกร้า -->
				<b-list-group class="w-100 rounded-lg mb-auto">
					<!-- วน Loop สินค้าในตะกร้า -->
					<b-list-group-item
						v-for="item in getCart"
						:key="item.id"
						class="d-flex justify-content-between align-items-center py-3"
					>
						<div class="mr-3">{{item.title}}</div>
						<div class="d-flex justify-content-start align-items-center mr-3">
							<strong class="mr-3">x{{item.qty}}</strong>
							<div>{{item.qty*item.price | numberPrice}}</div>
						</div>
					</b-list-group-item>
					<!-- จบ วน Loop สินค้าในตะกร้า -->
				</b-list-group>
				<!-- จบ สินค้าในตะกร้า -->
				<div class="w-100">
					<!-- ส่วนลด -->
					<div class="d-flex justify-content-between align-items-center py-3 px-2 border-top">
						<strong>Discount</strong>
						<div>{{totalPrice.discount | numberPrice}}</div>
					</div>
					<!-- จบ ส่วนลด -->

					<!-- รวมคารวม -->
					<div class="d-flex justify-content-between align-items-center py-3 px-2 border-top">
						<strong>
							Sub Total
							<span class="text-black-50">({{(getCart.length) ? sumQty(getCart):0}} items)</span>
						</strong>
						<div>{{totalPrice.net | numberPrice}}</div>
					</div>
					<!-- จบ รวมคารวม -->
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { BIconPersonCircle } from 'bootstrap-vue'
export default {
	components: {
		BIconPersonCircle,
	},
	data() {
		return {
			totalPrice: {
				net: 0,
				discount: 0,
			},
		}
	},
	methods: {
		sumQty(array) {
			// หากจำนวน qty รวมทั้งฃหมดในตะกร้า
			return array.reduce(function (sum, obj) {
				return sum + obj.qty
			}, 0)
		},
	},
	computed: {
		getCart() {
			// โหลดข้อมูลสินค้าที่เพิ่มลงในตะกร้าจาก vuex store
			let cartItem = this.$store.getters.getCartData
			this.totalPrice = this.$sumTotalPrice(cartItem)
			return cartItem
		},
	},
}
</script>

<style scoped>
/* css ใช้งานได้เฉพาะใน scoped ของไฟล์นี้แท่านั้น หากลบ scoped ออกจะสามารถใช้งานได้ทุกไฟล์ */
.cart-item-height {
	min-height: calc(100vh - 155px);
}
.badge-info {
	background-color: #f04770;
	border: #f04770;
}
</style>