<template>
	<div>
		<b-navbar toggleable="lg" type="light" variant="white" class="border-bottom">
			<b-navbar-brand v-b-toggle.menuSidebar class="btn-search">
				<BIconGridFill />
			</b-navbar-brand>
			<b-navbar-brand
				v-show="showFilter"
				v-b-modal.modal-center
				class="navbar-toggler border-0 collapsed btn-search"
			>
				<BIconSearch />
			</b-navbar-brand>
			<nuxt-link class="navbar-brand" to="/">Shiba Book Shop</nuxt-link>
			<b-collapse is-nav>
				<b-navbar-nav class="ml-auto" v-show="showFilter">
					<b-navbar-brand v-b-modal.modal-center class="btn-search">
						<BIconSearch />
					</b-navbar-brand>
				</b-navbar-nav>
			</b-collapse>
			<div class="navbar-toggler border-0 collapsed" v-b-toggle.sidebar-right>
				<BIconCart />
				<b-badge variant="info">{{sumQty(getCart)}}</b-badge>
			</div>
		</b-navbar>

		<b-sidebar
			id="sidebar-right"
			aria-labelledby="sidebar-no-header-title"
			no-header
			bg-variant="white"
			text-variant="dark"
			right
			shadow
			backdrop-variant="dark"
			backdrop
		>
			<div class="px-3 py-2">
				<cartItem classMobile="d-flex flex-column" />
			</div>
		</b-sidebar>

		<b-modal id="modal-center" centered title="Search Book" hide-footer>
			<b-form-input
				v-model="textsearch"
				@keyup="filter(textsearch)"
				placeholder="Enter your name Or Barcode Of book"
			></b-form-input>
		</b-modal>

		<b-sidebar id="menuSidebar" title="Sidebar" shadow>
			<div class="px-3 py-2">
				<b-nav vertical class="w-100">
					<b-nav-item link-classes="text-pink" to="/" class="d-flex justify-content-start">
						<BIconBox class="mr-2" />POS Home
					</b-nav-item>
					<b-nav-item link-classes="text-pink" to="/" class="d-flex justify-content-start">
						<BIconBox class="mr-2" />Sale Report
					</b-nav-item>
					<b-nav-item link-classes="text-pink" to="/book" class="d-flex justify-content-start">
						<BIconBox class="mr-2" />List Book
					</b-nav-item>
					<b-nav-item link-classes="text-pink" to="/" class="d-flex justify-content-start">
						<BIconBox class="mr-2" />Category
					</b-nav-item>
				</b-nav>
			</div>
		</b-sidebar>
	</div>
</template>

<script>
import { BIconSearch, BIconCart, BIconGridFill, BIconBox } from 'bootstrap-vue'
import cartItem from '@/components/cartItem'
export default {
	data() {
		return {
			// เก็บคำค้นหา หนังสือ เพื่อนำไปทำ filter
			textsearch: '',
		}
	},
	props: ['showFilter'],
	methods: {
		filter(textsearch) {
			// ส่งค่าคำค้นหาไปยัง v-on:onFilter ของไฟล์ที่เรียกใช้งาน ไฟล์นี้
			this.$emit('onFilter', textsearch)
		},
		sumQty(array) {
			// หากจำนวน qty รวมทั้งฃหมดในตะกร้า
			return array.reduce(function (sum, obj) {
				return sum + obj.qty
			}, 0)
		},
	},
	computed: {
		getCart() {
			// โหลดข้อมูลสินค้าที่เพิ่มลงในตะกร้าจาก vuex store
			return this.$store.getters.getCartData
		},
	},
	components: {
		cartItem,
		BIconSearch,
		BIconCart,
		BIconGridFill,
		BIconBox,
	},
}
</script>

<style scoped>
.btn-search {
	outline: none;
	cursor: pointer;
	transition: 0.2s;
}
.btn-search:hover,
.text-pink {
	color: #f04770;
}
.text-pink:hover {
	color: #111111;
}
.badge-info {
	background-color: #f04770;
	border: #f04770;
}
</style>

<style>
* {
	outline: none !important;
}
.nav-link {
	color: #f04770;
}
.nav-link:hover,
.nuxt-link-exact-active {
	color: #111111;
}
.btn-outline-primary {
	color: #f04770;
	border-color: #f04770 !important;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
	color: white;
	background-color: #f04770 !important;
	box-shadow: none!important;
}
</style>