<template>
	<div>
		<b-container fluid>
			<b-row>
				<b-col md="12" class="px-0">
					<navBar />
					<b-container>
						<b-nav class="mt-5">
							<nuxt-link class="nav-item btn btn-outline-primary nav-link mr-2" to="/book">List Book</nuxt-link>
							<nuxt-link class="nav-item btn btn-outline-primary nav-link mr-2" to="/book/add">Add Book</nuxt-link>
						</b-nav>
						<nuxt />
					</b-container>
				</b-col>
			</b-row>
		</b-container>
	</div>
</template>

<script>
import navBar from '@/components/navBar'
export default {
	components: {
		navBar,
	},
}
</script>