<template>
	<div>
		<b-container fluid>
			<b-row>
				<b-col lg="9" class="px-0">
					<navBar v-on:onFilter="onFilter" showFilter="show"/>
					<b-container fluid>
						<bookall :filter="filter" />
					</b-container>
				</b-col>
				<b-col lg="3" class="bg-white border-left px-0 d-none d-sm-none d-md-none d-lg-block">
					<cartItem classMobile="d-flex"/>
				</b-col>
			</b-row>
		</b-container>
	</div>
</template>

<script>
import navBar from '@/components/navBar'
import bookall from '@/components/bookall'
import cartItem from '@/components/cartItem'
export default {
	components: {
		bookall,
		cartItem,
		navBar,
	},
	data() {
		return {
			// กำหนดค่าของ filter เป็นค่า null
			filter: null,
		}
	},
	methods: {
		// กำหนดค่าของ filter ใหม่ ที่รับค่ามาจาก v-on:onFilter แล้วส่งต่อไปยัง props filter ของ bookall
		onFilter(filter) {
			this.filter = filter
		},
	},
}
</script>