<template>
	<div>
		<b-container fluid>
			<b-row>
				<b-col md="3" class="bg-white border-left px-0">
					<cartPay />
				</b-col>
				<b-col md="9" class="px-0">
					<navBar />
					<b-container fluid>
						<nuxt />
					</b-container>
				</b-col>
			</b-row>
		</b-container>
	</div>
</template>

<script>
import navBar from '@/components/navBar'
import cartPay from '@/components/cartPay'
export default {
	components: {
		navBar,
		cartPay,
	},
}
</script>