<template>
	<div class="container bg-white mt-3 border rounded py-4">
		<div class="w-50 m-auto text-center p-5" v-show="showLoad">
			<b-spinner class="m-5" label="Busy"></b-spinner>
		</div>

		<b-alert v-model="showsuccess" variant="success" dismissible>Edit Book Success</b-alert>

		<b-form @submit="onSubmit" class="w-50 m-auto" v-show="showform">
			<h3 class="mb-5">Edit Book</h3>

			<div class="w-50 m-auto text-center pb-3" v-show="!changeCover">
				<div>
					<img class="w-image" :src="imageCover" />
				</div>
				<b-button type="button" :pressed.sync="changeCover" block variant="danger">Change Cover</b-button>
			</div>

			<div role="group" class="mb-5" v-show="changeCover">
				<label>Cover</label>
				<b-form-file
					v-model="form.cover"
					:state="Boolean(form.cover)"
					placeholder="Choose a file or drop it here..."
					drop-placeholder="Drop file here..."
					required
				></b-form-file>
			</div>

			<div role="group" class="mb-3">
				<label for="input-live">Title</label>
				<b-form-input
					id="input-live"
					v-model="form.title"
					:state="titleState"
					aria-describedby="input-live-help input-live-feedback"
					placeholder="Enter book title"
					trim
					required
				></b-form-input>
				<b-form-invalid-feedback id="input-live-feedback">Enter at least 5 letters</b-form-invalid-feedback>
			</div>

			<div role="group" class="mb-3">
				<label for="input-price">Price</label>
				<b-form-input
					id="input-price"
					type="number"
					v-model="form.price"
					:state="priceState"
					aria-describedby="input-price-help input-price-feedback"
					placeholder="Enter Price"
					trim
					required
				></b-form-input>
				<b-form-invalid-feedback id="input-price-feedback">Enter at price 10 100 1000</b-form-invalid-feedback>
			</div>

			<div role="group" class="mb-5">
				<label for="input-barcode">barcode</label>
				<b-form-input
					id="input-barcode"
					type="number"
					v-model="form.id"
					:state="barcodeState"
					aria-describedby="input-barcode-help input-barcode-feedback"
					placeholder="Enter Barcode ID"
					trim
					required
				></b-form-input>
				<b-form-invalid-feedback id="input-barcode-feedback">Enter Barcode ex: 9781408855706</b-form-invalid-feedback>
			</div>

			<b-button type="submit" variant="primary">Edit Book</b-button>
		</b-form>
	</div>
</template>


<script>
import axios from 'axios'
export default {
	data() {
		return {
			changeCover: false,
			id: null,
			imageCover: '',
			form: {
				cover: null,
				title: '',
				price: '',
				id: '',
			},
			showform: true,
			showLoad: false,
			showsuccess: false,
		}
	},
	computed: {
		titleState() {
			return this.form.title.length > 5 ? true : false
		},
		priceState() {
			return this.form.price.length > 1 ? true : false
		},
		barcodeState() {
			return this.form.id.length > 5 ? true : false
		},
	},
	mounted() {
		this.id = this.$route.params.id
		let dataBook = this.$store.getters.getAllBooks
		let bookIndex = dataBook.findIndex((find) => find._id === this.id)
		this.imageCover = dataBook[bookIndex].cover
		this.form = {
			title: dataBook[bookIndex].title,
			price: dataBook[bookIndex].price,
			id: dataBook[bookIndex].id,
		}
	},
	methods: {
		async onSubmit(evt) {
			evt.preventDefault()
			this.showLoad = true
			this.showform = false
			let urlCover = this.form.cover
			if (this.form.cover.type) {
				const res = await this.uploadCover()
				urlCover = `https://firebasestorage.googleapis.com/v0/b/${res.bucket}/o/${res.name}?alt=media&token=${res.downloadTokens}`
			}

			this.$store
				.dispatch('editBook', {
					...this.form,
					cover: urlCover,
					_id: this.id,
				})
				.then(() => {
					this.showLoad = false
					this.showform = true
					this.showsuccess = true
					this.imageCover = urlCover
					this.form.cover = null
					this.changeCover = false
				})
		},
		async uploadCover() {
			await axios({
				method: 'delete',
				url: `${this.imageCover}`,
				headers: {
					'Content-Type': 'application/json',
				},
			})
			const res = await axios({
				method: 'post',
				url: `https://firebasestorage.googleapis.com/v0/b/benzcii3-60b91.appspot.com/o?uploadType=media&name=${this.form.cover.name}`,
				headers: {
					'Content-Type': this.form.cover.type,
				},
				data: this.form.cover,
			})
			return res.data
		},
	},
}
</script>

<style scoped>
.w-image {
	width: 152px;
}
</style>